---
// Layout Import
import MyMainLayout from '../layouts/MyMainLayout.astro';

// You can import components from any supported Framework here!
import WeatherComponent from '../components/WeatherComponent.jsx';
import TodoList from '../components/TodoList.astro';
import ClockAlt from '../components/ClockAlt.astro';
import Menu from '../components/Menu.astro';
// arrays for the menus
import codeArray from '../components/menus/codeLinks.js';
import jsArray from '../components/menus/javascriptLinks.js';
import billsArray from '../components/menus/billsLinks.js';
import gamesArray from '../components/menus/gamingLinks.js';
import personalArray from '../components/menus/personalLinks.js'; 


let pageTitle = 'My Homepage';
---


<MyMainLayout title={pageTitle}>
    <h1 class="force-center top-p-1 fancy-text">Hello, Logan!</h1>
    <ClockAlt />
    <div class="row force-center all_menu_containers">
        <Menu arrayOfLinks={personalArray.allLinksArray} headerTitle={personalArray.headerTitle} />
        <Menu arrayOfLinks={gamesArray.allLinksArray} headerTitle={gamesArray.headerTitle} />
        <Menu arrayOfLinks={codeArray.allLinksArray} headerTitle={codeArray.headerTitle} />
        <Menu arrayOfLinks={jsArray.allLinksArray} headerTitle={jsArray.headerTitle} />
        <Menu arrayOfLinks={billsArray.allLinksArray} headerTitle={billsArray.headerTitle}/>
    </div>
    <div class="row">
      <div class="col">
        <WeatherComponent client:idle/>
      </div>
    </div>
  
</MyMainLayout>
