---
// Layout Import
import MyMainLayout from '../layouts/MyMainLayout.astro';

// You can import components from any supported Framework here!
import DigitalClock from '../components/DigitalClock.jsx';
import WeatherComponent from '../components/WeatherComponent.jsx';
import WeatherSection from '../components/WeatherSection.astro';
import HoverMenu from '../components/HoverMenu.jsx';
import codeArray from '../components/codeLinks.js';
import jsArray from '../components/javascriptLinks.js';
import Menu from '../components/Menu.astro';
import ClockAlt from '../components/ClockAlt.astro';
let title = 'My Homepage';
---


<MyMainLayout title={title}>
    <h1 class="force-center topbottom-1 fancy-text">Hello, Logan!</h1>
    <ClockAlt />
    <div class="row force-center all_menu_containers">
        <HoverMenu linksArray={codeArray.allLinksArray} headerTitle={codeArray.headerTitle} client:load/>
        <HoverMenu linksArray={jsArray.allLinksArray} headerTitle={jsArray.headerTitle} client:load/>
        <Menu />
    </div>
    <div class="row">
      <div class="col">
        <WeatherComponent client:load/>
      </div>
      
      <div class="col">
        <div class="weather-container">
          
          <WeatherSection />
        </div>
      </div>
    </div>
</MyMainLayout>
